@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital@0;1&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Removing Input Spinners */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari/Chrome */
  appearance: textfield; /* Standard */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  /* COLORS */
  --lime: #d8db2f;
  --slate-900: #133041;
  --slate-700: #4e6e7e;
  --slate-500: #6b94a8;
  --slate-300: #9abed5;
  --slate-100: #e4f4fd;
  --white: #ffffff;
  --red: #d73328;
  /* SPACING */
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

.text-preset-1 {
  font-size: 56px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: 700;
}

.text-preset-2 {
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0;
  font-weight: 700;
}

.text-preset-3 {
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: 700;
}

.text-preset-4 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 500;
}

.text-preset-5 {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 500;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--slate-100);
}

.site-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.calculator-container {
  max-width: 1008px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--white);
  border-radius: var(--spacing-300);
}

/* Calculator */
.color-dark {
  color: var(--slate-900);
}

.color-light {
  color: var(--slate-700);
}

.color-heading-light {
  color: var(--slate-300);
}

.form-container {
  padding: var(--spacing-500);
  height: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
}

.form-header {
  display: flex;
  justify-content: space-between;
}

#clearForm {
  border: none;
  background: none;
  font-family: inherit;
  text-decoration: underline;
  color: var(--slate-700);
  cursor: pointer;
}

#clearForm:hover {
  color: var(--slate-900);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.field-row {
  display: flex;
  gap: var(--spacing-300);
}

fieldset,
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: var(--spacing-150);
}

label {
  margin-bottom: var(--spacing-150);
}

.radio-label {
  width: 100%;
  border: 1px solid var(--slate-500);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  height: 48px;
}

.radio-label:hover {
  border-color: var(--lime);
}

.radio-label:focus-within {
  outline: none;
  border-color: var(--lime);
  background-color: hsla(61, 70%, 52%, 0.15);
}

.radio-text {
  color: var(--slate-900);
}

.radio-label input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 19.5px;
  height: 19.5px;
  border-radius: 50%;
  border: 2px solid var(--slate-700);
  position: relative;
  cursor: pointer;
  outline: none;
}

.radio-label input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--lime);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.radio-label input[type="radio"]:checked {
  border-color: var(--lime);
  outline: none;
}

.radio-label input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.btn {
  cursor: pointer;
  border: none;
  background-color: var(--lime);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 999px;
  padding: 0 40px;
  height: 56px;
  width: 314px;
  font-family: inherit;
}

.btn:hover {
  background-color: hsla(61, 70%, 52%, 0.5);
}

.error-message {
  margin-top: 12px;
  color: var(--red);
}

.radio-error {
  margin-top: 0;
}

/* Results Side */
.results-heading {
  color: var(--white);
}

.results-container {
  background-color: var(--slate-900);
  color: var(--slate-300);
  padding: var(--spacing-500);
  border-radius: 0 var(--spacing-300) var(--spacing-300) 80px;
  height: 100%;
}

#empty-results {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--spacing-200);
}

#mortgage-results {
  display: none;
  flex-direction: column;
  gap: 40px;
}

.results-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.calculation-outcome {
  background-color: hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  padding: 32px;
  border-top: 4px solid var(--lime);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#monthly {
  color: var(--lime);
}

#term {
  color: var(--white);
}

.separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: hsla(203, 41%, 72%, 0.25);
  margin-top: 24px;
  margin-bottom: 24px;
}

/* PREFIX & SUFFIX TEST */

.input-wrapper-prefix,
.input-wrapper-suffix {
  display: flex;
  width: 100%;
  border: 1px solid var(--slate-500);
  border-radius: 4px;
  cursor: pointer;
}

.prefix {
  background-color: var(--slate-100);
  color: var(--slate-700);
  height: 100%;
  border-radius: 4px 0 0 4px;
  padding: 12.5px 16px;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: 700;
}

.suffix {
  background-color: var(--slate-100);
  color: var(--slate-700);
  height: 100%;
  border-radius: 0 4px 4px 0;
  padding: 12.5px 16px;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: 700;
}

.input-wrapper-prefix input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-family: inherit;
  color: var(--slate-900);
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: 700;
}

.input-wrapper-suffix input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  font-family: inherit;
  color: var(--slate-900);
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: 700;
}

.input-wrapper-suffix:focus-within,
.input-wrapper-prefix:focus-within {
  border: 1px solid var(--lime);
}

.input-wrapper-suffix:focus-within .suffix,
.input-wrapper-prefix:focus-within .prefix {
  background-color: var(--lime);
  color: var(--slate-900);
}

.input-wrapper-suffix:hover,
.input-wrapper-prefix:hover {
  border: 1px solid var(--slate-900);
}

.input-error {
  border-color: var(--red);
}

.prefix-error,
.suffix-error {
  background-color: var(--red);
  color: var(--white);
}

@media (max-width: 1024px) {
  .site-wrapper {
    padding: 40px;
    align-items: flex-start;
  }

  .calculator-container {
    grid-template-columns: 1fr;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--spacing-300);
  }

  .results-container {
    padding: var(--spacing-500);
    border-radius: 0 0 var(--spacing-300) var(--spacing-300);
    height: 100%;
  }
}

@media (max-width: 500px) {
  .site-wrapper {
    padding: 0;
  }

  .calculator-container {
    border-radius: 0;
  }

  .form-container {
    padding: 32px 24px;
  }

  .form-header {
    display: grid;
    gap: 8px;
  }

  #clearForm {
    width: 62px;
  }

  .field-row {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .btn {
    width: 100%;
  }

  .results-container {
    padding: 32px 24px;
    border-radius: 0;
    height: 100%;
  }

  .text-preset-1 {
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0;
    font-weight: 700;
  }

  .calculation-outcome {
    padding: 24px 16px;
  }
}
